In [11]:
import os

In [12]:
os.listdir()

['Untitled.ipynb',
 'script1.py',
 'TestValues1.txt',
 'TestValues1.ods',
 '.ipynb_checkpoints',
 'Test.ipynb',
 'Notebook test 2.ipynb',
 'TestValues1.xlsx',
 'TestValues1.csv',
 'readme.md']

In [3]:
import pandas

In [4]:
df1 = pandas.read_csv("TestValues1.csv")

In [5]:
df1

  Heading 1 Heading 2 Heading 3
0   Item A2   Item B2   Item C2
1   Item A3   Item B3   Item C3
2   Item A4   Item B4   Item C4

In [6]:
df3 = pandas.read_excel("TestValues1.xlsx",sheet_name='Sheet1')

In [7]:
df3

  Heading 1 Heading 2 Heading 3
0   Item A2   Item B2   Item C2
1   Item A3   Item B3   Item C3
2   Item A4   Item B4   Item C4

In [13]:
os.listdir()

['Untitled.ipynb',
 'script1.py',
 'TestValues1.txt',
 'TestValues1.ods',
 '.ipynb_checkpoints',
 'Test.ipynb',
 'Notebook test 2.ipynb',
 'TestValues1.xlsx',
 'TestValues1.csv',
 'readme.md']

In [14]:
df4 = pandas.read_csv("TestValues1.txt")

In [15]:
df4

Empty DataFrame
Columns: [Unnamed: 0, amv, amv.1, 27.04.2017 21:18, file:///home/amv/.config/libreoffice/4;]
Index: []

In [16]:
df5 = pandas.read_csv("TestValues1.txt", sep=".")

In [17]:
df5

Empty DataFrame
Columns: [,amv,amv,27, 04, 2017 21:18,file:///home/amv/, config/libreoffice/4;]
Index: []

In [18]:
df6 = pandas.read_csv("http://pythonhow.com/supermarkets.csv")

In [19]:
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [20]:
df7 = pandas.read_json("http://pythonhow.com/supermarkets.json")

In [21]:
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114