In [2]:
import os

In [3]:
os.listdir()

['Untitled.ipynb',
 'script1.py',
 'TestValues1.txt',
 'TestValues1.ods',
 '.ipynb_checkpoints',
 'Test.ipynb',
 'Notebook test 2.ipynb',
 'TestValues1.xlsx',
 'TestValues1.csv',
 'readme.md']

In [4]:
import pandas

In [4]:
df1 = pandas.read_csv("TestValues1.csv")

In [5]:
df1

  Heading 1 Heading 2 Heading 3
0   Item A2   Item B2   Item C2
1   Item A3   Item B3   Item C3
2   Item A4   Item B4   Item C4

In [6]:
df3 = pandas.read_excel("TestValues1.xlsx",sheet_name='Sheet1')

In [7]:
df3

  Heading 1 Heading 2 Heading 3
0   Item A2   Item B2   Item C2
1   Item A3   Item B3   Item C3
2   Item A4   Item B4   Item C4

In [13]:
os.listdir()

['Untitled.ipynb',
 'script1.py',
 'TestValues1.txt',
 'TestValues1.ods',
 '.ipynb_checkpoints',
 'Test.ipynb',
 'Notebook test 2.ipynb',
 'TestValues1.xlsx',
 'TestValues1.csv',
 'readme.md']

In [14]:
df4 = pandas.read_csv("TestValues1.txt")

In [15]:
df4

Empty DataFrame
Columns: [Unnamed: 0, amv, amv.1, 27.04.2017 21:18, file:///home/amv/.config/libreoffice/4;]
Index: []

In [16]:
df5 = pandas.read_csv("TestValues1.txt", sep=".")

In [17]:
df5

Empty DataFrame
Columns: [,amv,amv,27, 04, 2017 21:18,file:///home/amv/, config/libreoffice/4;]
Index: []

In [18]:
df6 = pandas.read_csv("http://pythonhow.com/supermarkets.csv")

In [19]:
df6

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [5]:
df7 = pandas.read_json("http://pythonhow.com/supermarkets.json")

In [6]:
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [8]:
df7.set_index("Address")

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [9]:
df7

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [10]:
df7 = df7.set_index("Address")
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [11]:
df7.set_index?

In [12]:
df7.loc["735 Dolores St":"3995 23rd St","Country":"Name"]

               Country  Employees  ID         Name
Address
735 Dolores St     USA         15   2  Bready Shop
332 Hill St        USA         25   3  Super River
3995 23rd St       USA         10   4   Ben's Shop

In [13]:
df7.loc["735 Dolores St","Name"]

'Bready Shop'

In [14]:
list(df7.loc[:,"Name"])

['Madeira',
 'Bready Shop',
 'Super River',
 "Ben's Shop",
 'Sanchez',
 'Richvalley']

In [15]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [16]:
df7.iloc[1:3, 2:4]

                Employees  ID
Address
735 Dolores St         15   2
332 Hill St            25   3

In [17]:
df7.iloc[0:3, 0:4]

                         City Country  Employees  ID
Address
3666 21st St    San Francisco     USA          8   1
735 Dolores St  San Francisco     USA         15   2
332 Hill St     San Francisco     USA         25   3

In [18]:
df7.iloc[:3, 0:4]

                         City Country  Employees  ID
Address
3666 21st St    San Francisco     USA          8   1
735 Dolores St  San Francisco     USA         15   2
332 Hill St     San Francisco     USA         25   3

In [24]:
df7.iloc[3, 0:4]

City         San Francisco
Country                USA
Employees               10
ID                       4
Name: 3995 23rd St, dtype: object

In [25]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [26]:
df7.ix[2,"Name"]

'Super River'

In [30]:
df7.ix[0,4]

'Madeira'

In [31]:
df7.drop('City',1)

                Country  Employees  ID         Name             State
Address
3666 21st St        USA          8   1      Madeira          CA 94114
735 Dolores St      USA         15   2  Bready Shop          CA 94119
332 Hill St         USA         25   3  Super River  California 94114
3995 23rd St        USA         10   4   Ben's Shop          CA 94114
1056 Sanchez St     USA         12   5      Sanchez        California
551 Alvarado St     USA         20   6   Richvalley          CA 94114

In [32]:
df7

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [33]:
df7.drop("332 Hill St",0)

                          City Country  Employees  ID         Name       State
Address
3666 21st St     San Francisco     USA          8   1      Madeira    CA 94114
735 Dolores St   San Francisco     USA         15   2  Bready Shop    CA 94119
3995 23rd St     San Francisco     USA         10   4   Ben's Shop    CA 94114
1056 Sanchez St  San Francisco     USA         12   5      Sanchez  California
551 Alvarado St  San Francisco     USA         20   6   Richvalley    CA 94114

In [34]:
df7.drop(df7.columns[0:3],1)

                 ID         Name             State
Address
3666 21st St      1      Madeira          CA 94114
735 Dolores St    2  Bready Shop          CA 94119
332 Hill St       3  Super River  California 94114
3995 23rd St      4   Ben's Shop          CA 94114
1056 Sanchez St   5      Sanchez        California
551 Alvarado St   6   Richvalley          CA 94114

In [35]:
df7.index

Index(['3666 21st St', '735 Dolores St', '332 Hill St', '3995 23rd St',
       '1056 Sanchez St', '551 Alvarado St'],
      dtype='object', name='Address')

In [38]:
df7.columns

Index(['City', 'Country', 'Employees', 'ID', 'Name', 'State'], dtype='object')

In [39]:
len(df7.index)

6

In [37]:
df7["Continent"]=["America"]

ValueError: Length of values does not match length of index

In [40]:
len(df7.index)

6

In [41]:
df7["continent"] = df7.shape[0]*["North America"]

In [42]:
df7

,City,Country,Employees,ID,Name,State,continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [43]:
df7.shape

(6, 7)

In [44]:
df7.shape[0]

6

In [45]:
df7.shape[0]*["hello"]

['hello', 'hello', 'hello', 'hello', 'hello', 'hello']

In [48]:
df7["continent"]=df7["Country"]+", "+"china Town"
df7

,City,Country,Employees,ID,Name,State,continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, china Town"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, china Town"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, china Town"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, china Town"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, china Town"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, china Town"

In [51]:
df7_t = df7.T
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,USA,USA,USA,USA,USA,USA
Employees,8,15,25,10,12,20
ID,1,2,3,4,5,6
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
continent,"USA, china Town","USA, china Town","USA, china Town","USA, china Town","USA, china Town","USA, china Town"

In [53]:
df7_t["My Address"]=["Wellington","NZ",3,7,"Manu","well","NZ"]
df7_t

Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,My Address
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,Wellington
Country,USA,USA,USA,USA,USA,USA,NZ
Employees,8,15,25,10,12,20,3
ID,1,2,3,4,5,6,7
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,Manu
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,well
continent,"USA, china Town","USA, china Town","USA, china Town","USA, china Town","USA, china Town","USA, china Town",NZ

In [54]:
df7 = df7_t.T
df7

,City,Country,Employees,ID,Name,State,continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, china Town"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, china Town"
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA, china Town"
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, china Town"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, china Town"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, china Town"
My Address,Wellington,NZ,3,7,Manu,well,NZ

In [56]:
df7_t["332 Hill St"]=["Wellington","NZ",3,7,"Manu","well","NZ"]
df7 = df7_t.T
df7

,City,Country,Employees,ID,Name,State,continent
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA, china Town"
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA, china Town"
332 Hill St,Wellington,NZ,3,7,Manu,well,NZ
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA, china Town"
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA, china Town"
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA, china Town"
My Address,Wellington,NZ,3,7,Manu,well,NZ